
<h1>Sistema de frete</h1>

<%= link_to 'Modalidades de transporte', shipping_methods_path %> <br/>
<%= link_to 'Ordens de serviço', orders_path %> <br/>
<%= link_to 'Veículos', vehicles_path %> <br/>

