<%= form_with(model: @work_order, method:"patch") do |f| %>
  <% if Date.today > @work_order.shipping_expected_date %>
    <div>
      <%= 'Insira o motivo do atraso:'%>
      <%= f.text_area :delay_reason %>
    </div><br/><br/>
  <% end %>
<%= f.submit 'Encerrar ordem de serviço' %>
<% end %>
 