<% if @sedex_delivery_time_distance.errors.full_messages.any? %>
  <%  @sedex_delivery_time_distance.errors.full_messages.each do |msg| %>
    <div><br>
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>